# Carpetas de las sesiones de clase aún no revisadas
s1-kmeans_kmodes_kprototypes
s2-GMM
s3-DBSCAN
s4-SOM
s5-practicaCalificada
s6-asociacion
s7-mineriaTextos
s8-metodosClustering/
s9-clusteringBasadosDensidad

# Archivo sobre actividades pendientes
TO-DO.md